[submodule "frontend"]
	path = frontend
	url = https://github.com/konstantinstanmeyer/exposure-frontend-ts
[submodule "backend"]
	path = backend
	url = https://github.com/konstantinstanmeyer/exposure-backend
